watch_file pyproject.toml
eval "$(pixi shell-hook)"
export PATH="$PATH:$HOME/Library/TinyTeX/bin/universal-darwin"
export SPEASY_SKIP_INIT_PROVIDERS=1
export OVERLEAF_ID=65b0a9c80a3616adf6e599e8
export OVERLEAF_FMT="agu-pdf"