data/
overleaf/

*_files/
*.html

_docs/
_proc/
_site/
_manuscript/

/.quarto/

.DS_Store
/_*.local

.pixi


##########################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode# pixi environments
.pixi
*.egg-info

.vscode